body {
    background-color: #926AA6;
}

.title-container {
    text-align: center;
}

h1 {
    display: inline-block;
}

#game-table {
    width: 100%;
    border-collapse: collapse;
}

#game-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}